body {
  margin: 0;
  font-family: 'Press Start 2P', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,  rgb(231, 216, 182)0%, rgba(115, 209, 187) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
